/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background-color: lightblue;
    text-align: center;
}

/* Title */
#title {
    font-weight: 700;
    font-size: 50px;
    position: relative;
    top: 25px;
}

/* Images */

#img-div {
    background-color: lightgreen;
    padding: 10px;
}

#image {
    max-width: 100%;
    display: block;
    margin: auto;
}

#img-caption {
    position: relative;
    top: 15px;
}