/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background-color: lightblue;
    text-align: center;
}

/* Title */
#title {
    font-weight: 700;
    font-size: 50px;
    position: relative;
    top: 25px;
}

/* Images */

#img-div {
    background-color: lightgreen;
    padding: 10px;
}

#image {
    max-width: 100%;
    display: block;
    margin: auto;
}

#img-caption {
    position: relative;
    top: 15px;
}

/* Tribute Info */
#tribute-info {
    text-align: left;
    margin-left: 80px;
}

/* Quotes */
#quotes {
    text-align: left;
    margin-left: 100px;
    background-color: lightpink;
    padding: 10px;
    border: 1px solid black;
}

/* Tribute Links */
a {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: fuchsia;
}